button {
    background-color: rgb(187red, 8, 38);
    border: 6px solid rgb(252, 198, 10);
    border-radius: 10px;
    width: 150px;
  }
  
  select {
    display: block;
    margin-bottom: 20px;
  }
  